//boards gradients
$yellow-gradient: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
$blue-gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(43,43,170,1) 36%, rgba(0,212,255,1) 100%);
$red-gradient: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
